@mixin reset-pm {
    margin: 0;
    padding: 0;
}

@mixin size($height: 100%, $width: 100%) {
    height: $height;
    width: $width;
}

@mixin background-image($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}